git_key_users:                   # Users who has their public key in github
  - alberttoaguayoo                   
  - ruiztulio         
  - llaveLuis
  - jonathanosalc
  - angelfentanez

direct_key_users:                  # Users who do not have their public key
#  - {
#      'name': 'name',              # Use 'name' as an identifier 
#      'git_key': 'public_ssh_key'            # Use 'git_key' to add the public key
#    }

git_key_users_absent:              # Users to delete with shh-key in github


direct_key_users_absent:           # Users to delete with manually added their ssh-key.
                                   # You need to add same parameters as "direct_key_users".
