version: '2.4'

services:
  oauth2-proxy:
    container_name: oauth2-proxy-mailpit
    image: quay.io/oauth2-proxy/oauth2-proxy:v7.2.1
    ports:
      - 127.0.0.1:{{ mailpit['oauth_port'] }}:4180/tcp
    hostname: oauth2-proxy-mailhog
    restart: unless-stopped
    network_mode: bridge
    environment:
      - OAUTH2_PROXY_PROVIDER=gitlab
      - OAUTH2_PROXY_SET_XAUTHREQUEST=true
      - OAUTH2_PROXY_SKIP_PROVIDER_BUTTON=false
      - OAUTH2_PROXY_SCOPE=openid profile email
      - OAUTH2_PROXY_EMAIL_DOMAINS=*
      - OAUTH2_PROXY_REVERSE_PROXY=true
      - OAUTH2_PROXY_COOKIE_REFRESH=30m
      - OAUTH2_PROXY_COOKIE_HTTPONLY=true
      - OAUTH2_PROXY_HTTP_ADDRESS=0.0.0.0:4180
      - OAUTH2_PROXY_OIDC_ISSUER_URL=https://git.vauxoo.com
      - OAUTH2_PROXY_REDIRECT_URL=https://{{ mailpit['domain'] }}/oauth2/callback
      - OAUTH2_PROXY_CLIENT_ID={{ mailpit['client_id'] }}
      - OAUTH2_PROXY_CLIENT_SECRET={{ mailpit['client_secret'] }}
      - OAUTH2_PROXY_COOKIE_NAME={{ mailpit['cookie_name'] }}
      - OAUTH2_PROXY_COOKIE_DOMAINS={{ mailpit['domain'] }}
      - OAUTH2_PROXY_GITLAB_GROUP={{ mailpit['gitlab_groups'] }}
      - OAUTH2_PROXY_COOKIE_SECRET={{ mailpit['cookie_secret'] }}
      - OAUTH2_PROXY_UPSTREAM=http://mailpit:8025/
      - OAUTH2_PROXY_UPSTREAMS=http://mailpit:8025/
    links:
      - "mailpit:mailpit"

  mailpit:
    image: axllent/mailpit:v{{ mailpit['version'] }}
    container_name: mailpit
    ports:
      - "{{ mailpit['ip'] }}:{{ mailpit['smtp_port'] }}:{{ mailpit['smtp_port'] }}"
      - "{{ mailpit['ip'] }}:{{ mailpit['http_port'] }}:{{ mailpit['http_port'] }}"
    environment:
      - MAILPIT_SMTP_BIND={{ mailpit['ip'] }}:{{ mailpit['smtp_port'] }}
      - MAILPIT_HTTP_BIND={{ mailpit['ip'] }}:{{ mailpit['http_port'] }}
    restart: unless-stopped
    network_mode: bridge



